---
Language: Cpp
BasedOnStyle: LLVM

Standard: c++20
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IndentPPDirectives: AfterHash
NamespaceIndentation: None
PackConstructorInitializers: NextLine
PointerAlignment: Left
ReferenceAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false

# Local quoted headers first, then <rul/...>, then std/system headers.
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<[^/.]+>$'
    Priority: 3
  - Regex: '^<'
    Priority: 2
